[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "bongosway.github.io"]
	path = bongosway.github.io
	url = git@github.com:bongosway/bongosway.github.io.git
	branch = master
